<nav class="viewport-header navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#ms-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a href="#/" class="navbar-brand">MapSpace</a>
  </div>
  <div class="collapse navbar-collapse" id="ms-navbar-collapse-1">
    
    <ul class="nav navbar-nav">
      <li>
        <a href="#/spaces">Spaces</a>
      </li>
    </ul>
    
    <ul class="nav navbar-nav navbar-right">
      <li ng-show="{{spaceId}}">
        <a ng-click="toMe($event)">Show Me</a>
      </li>
      <li ng-show="{{spaceId}}">
        <a ng-click="fit($event)">Fit Points</a>
      </li>
      <li ng-show="{{spaceId}}">
        <a ng-click="joinSpace($event)">Join Space</a>
      </li>
      <li ng-show="{{spaceId}}">
        <a ng-click="leaveSpace($event)">Leave Space</a>
      </li>
      <li ng-show="{{spaceId}}">
        <a>Space: {{spaceId}}</a>
      </li>
    </ul>
  </nav>
</div>
