<nav class="viewport-header navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#mapspace-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <button class="pull-right visible-xs mapspace-navbar-btn-user" type="button"
      ng-click="toggleUsers($event)" ng-if="toggleUsers"
    >
      <i class="fa fa-user"></i>
    </button>
    <a href="#/" class="navbar-brand">MapSpace</a>
  </div>
  <div class="collapse navbar-collapse" id="mapspace-navbar-collapse-1">

    <ul class="nav navbar-nav">
      <li>
        <a href="#/spaces">Spaces</a>
      </li>
    </ul>
    
    <ul class="nav navbar-nav navbar-right">
      <li ng-show="spaceId">
        <a ng-click="toMe($event); toggleNavbarDropdown($event)" ng-class="{disabled: ! location}">Me</a>
      </li>
      <li ng-show="spaceId">
        <a ng-click="fit($event); toggleNavbarDropdown($event)" ng-class="{disabled: ! location}">Fit</a>
      </li>
      <li ng-show="spaceId && leavingSpace">
        <a ng-click="joinSpace($event); toggleNavbarDropdown($event)">Join</a>
      </li>
      <li ng-show="spaceId && ! leavingSpace">
        <a ng-click="leaveSpace($event); toggleNavbarDropdown($event)">Leave</a>
      </li>
      <li ng-show="spaceId">
        <a>Space: {{spaceId}}</a>
      </li>
    </ul>

  </nav>
</div>
