<div class="viewport">
  <ng-include src="'templates/nav.html'"></ng-include>
  <div class="viewport-main">

    <div class="container-fluid">
      <h3>Spaces</h3>
      <div>
        <ul>
          <li>
            <a href="#/spaces/common">common</a>
          </li>
          <li ng-repeat="(id, space) in spaces">
            <a href="#/spaces/{{id}}">{{id}}</a>
          </li>
          <li>
            Or create one by visiting "#/spaces/YOURSPACE" where "YOURSPACE" is any name you choose!
          </li>
        </ul>
      </div>
    </div>

  </div>
</div>
