<div class="viewport">
  <ng-include src="'templates/nav.html'"></ng-include>
  <div class="viewport-main">
    <div class="map-container"></div>
    <div class="users">
      <h2>Users</h2>

      <button ng-click="addMockUser($event)">+</button>

      <ul class="users-list list-unstyled">
        <li ng-repeat="(iJoinId, iJoin) in joins">
          <div 
            ng-mouseenter="onUsersListItemMouseEnter($event, iJoinId, iJoin)"
            ng-mouseleave="onUsersListItemMouseLeave($event, iJoinId, iJoin)"
            ng-click="onUsersListItemClick($event, iJoinId, iJoin)"
          >
            <button ng-click="removeUser($event, iJoinId, iJoin)">x</button>
            <span ng-if="joinId == iJoinId">(you)</span> {{ iJoinId }}
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
